/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #78C2AD !important;
}

.Titulo {
  color: #2d3436;
  font-size: 60px;
  padding: 40px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #2d3436;
  font-family: 'Noto Serif', serif;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.card-deck {
  padding: 20px;
  margin-top: 30px;
}

.card {
  transition: 0.1ms;
}

.card:hover {
  opacity: 0.9;
}

.fas, .far, .card-body {
  padding: 15px;
  text-align: center;
}

.footer {
  position: relative;
  color: aliceblue;
  background-color: #636e72;
  margin-top: 23%;
  padding: 20px;
}

.title {
  margin: 50px;
  text-align: center;
  color: #2d3436;
}

.container {
  margin: 50px;
  padding: 30px;
}

.t-hover:hover {
  background-color: #f5f5f5;
}

.icono:hover {
  color: royalblue !important;
}

a {
  text-decoration: none !important;
  color: #2d3436;
}

button {
  background-color: #78C2AD !important;
  color: #f5f5f5 !important;
}

button {
  transition-duration: 0.15s;
}

button:hover {
  background-color: cornsilk !important;
  border: #78C2AD !important;
  color: teal !important;
}

.button-new {
  background-color: #78C2AD !important;
  color: #f5f5f5 !important;
}

.button-new {
  transition-duration: 0.02s;
}

.button-new:hover {
  background-color: cornsilk !important;
  border: #78C2AD !important;
  color: teal !important;
}

form {
  max-width: 600px;
  margin-left: 250px;
  margin-right: 250px;
}

.form-delete {
  margin-left: 2px;
  margin-top: 50px;
  margin-bottom: 10px;
}